.offscreen {
	position: absolute;
	left: -9999px;
}

.instructions {
	display: block;
}

.note {
	background-color: #f0f0f0;
	width: 400px;
	padding-top: 16px;
	border-radius: 16px;
}

.note p {
	padding: 4px 16px 4px 16px;
	font-weight: 300;
}
