* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#parentFront, #parentBack {
  height: 100vh;
  width: 100vw;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* #backendEditForm, #backendEditForm * {
  border: 1px red solid;
} */

#editText {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
}

#backendEditForm input {
  height: 24px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 0 0 0 30px;
}

#title {
  margin-bottom: 20px;
}

#update {
  border: 1px red solid;
}

#backendEditForm Button {
  margin: 0 0 0 20px;
}
